<a href="https://colab.research.google.com/github/nandolima1/listas-e-tuplas-pyt/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 # Inicializa uma lista vazia para armazenar as informações das pessoas
pessoas = []

# Laço de repetição para iterar duas vezes (para obter informações de duas pessoas)
for i in range(2):
    nome = input("Digite o nome da pessoa: ")
    idade = int(input("Digite a idade da pessoa: "))
    profissao = input("Digite a profissão da pessoa: ")

    # Cria um dicionário com as informações da pessoa atual
    pessoa = {'nome': nome, 'idade': idade, 'profissao': profissao}

    # Adiciona o dicionário à lista de pessoas
    pessoas.append(pessoa)

# Imprime as informações armazenadas
print("\nInformações das pessoas:")
for pessoa in pessoas:
    print(f"Nome: {pessoa['nome']}, Idade: {pessoa['idade']}, Profissão: {pessoa['profissao']}")

Digite o nome da pessoa: nando
Digite a idade da pessoa: 34
Digite a profissão da pessoa: mecanico
Digite o nome da pessoa: andre
Digite a idade da pessoa: 20
Digite a profissão da pessoa: motorista

Informações das pessoas:
Nome: nando , Idade: 34, Profissão: mecanico
Nome: andre , Idade: 20, Profissão: motorista

In [4]:
# Lista de palavras
lista_palavras = ["cachorro", "gato", "pássaro", "peixe"]

# Palavra a ser verificada
palavra = input("Digite uma palavra para verificar se está na lista: ")

# Verifica se a palavra está na lista e mostra na tela o resultado
if palavra in lista_palavras:
    print(f"A palavra '{palavra}' está na lista.")
else:
    print(f"A palavra '{palavra}' não está na lista.")

Digite uma palavra para verificar se está na lista: gato
A palavra 'gato' está na lista.

In [5]:
# Solicita ao usuário que insira dois números
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))

numeros = [num1, num2]

# Determina o maior e o menor número na lista
maior_numero = max(numeros)
menor_numero = min(numeros)

print(f"O maior número é: {maior_numero}")
print(f"O menor número é: {menor_numero}")

Digite o primeiro número: 12
Digite o segundo número: 23
O maior número é: 23.0
O menor número é: 12.0

In [6]:

numeros = []

for i in range(10):
    numero = float(input(f"Digite o {i+1}º número: "))
    numeros.append(numero)

# Ordena os números em ordem crescente e decrescente
crescente = sorted(numeros)
decrescente = sorted(numeros, reverse=True)

# Mostra os números em ordem crescente
print("Números em ordem crescente:")
for num in crescente:
    print(num, end=" ")

# Mostra os números em ordem decrescente
print("\nNúmeros em ordem decrescente:")
for num in decrescente:
    print(num, end=" ")

Digite o 1º número: 2
Digite o 2º número: 3
Digite o 3º número: 8
Digite o 4º número: 6
Digite o 5º número: 7
Digite o 6º número: 1
Digite o 7º número: 9
Digite o 8º número: 4
Digite o 9º número: 25
Digite o 10º número: 14
Números em ordem crescente:
1.0 2.0 3.0 4.0 6.0 7.0 8.0 9.0 14.0 25.0
Números em ordem decrescente:
25.0 14.0 9.0 8.0 7.0 6.0 4.0 3.0 2.0 1.0

In [7]:

nomes = input("Digite os nomes das pessoas, separados por espaço: ").split()

print("Nomes em maiúsculas:")
for nome in nomes:
    print(nome.upper())

Digite os nomes das pessoas, separados por espaço: a n a
Nomes em maiúsculas:
A
N
A

In [8]:

lista = input("Digite os elementos da lista separados por espaço: ").split()

print("Lista antes da remoção:", lista)

# Solicita ao usuário que escolha o item a ser removido
item_a_remover = input("Digite o item que deseja remover: ")

# Verifica se o item está na lista antes de tentar removê-lo
if item_a_remover in lista:
    lista.remove(item_a_remover)
    print(f"O item '{item_a_remover}' foi removido com sucesso.")
    print("Lista após a remoção:", lista)
else:
    print(f"O item '{item_a_remover}' não está na lista.")

Digite os elementos da lista separados por espaço: 1 2 5 6 9 8
Lista antes da remoção: ['1', '2', '5', '6', '9', '8']
Digite o item que deseja remover: 9
O item '9' foi removido com sucesso.
Lista após a remoção: ['1', '2', '5', '6', '8']

In [9]:

valores = []
for i in range(10):
    valor = int(input(f"Digite o {i+1}º valor inteiro: "))
    valores.append(valor)

pares = []

# Percorre a lista de valores e adiciona os números pares à lista 'pares'
for valor in valores:
    if valor % 2 == 0:
        pares.append(valor)

print("Lista de números pares:")
print(pares)

Digite o 1º valor inteiro: 1
Digite o 2º valor inteiro: 2
Digite o 3º valor inteiro: 3
Digite o 4º valor inteiro: 9
Digite o 5º valor inteiro: 8
Digite o 6º valor inteiro: 4
Digite o 7º valor inteiro: 5
Digite o 8º valor inteiro: 86
Digite o 9º valor inteiro: 23
Digite o 10º valor inteiro: 12
Lista de números pares:
[2, 8, 4, 86, 12]

In [10]:
# Recebe uma tupla do usuário
tupla = tuple(input("Digite os elementos da tupla separados por espaço: ").split())

# Converte a tupla em uma lista
lista = list(tupla)

# Recebe o elemento a ser adicionado à lista
elemento = input("Digite o elemento a ser adicionado à lista: ")

lista.append(elemento)

# Converte a lista modificada de volta para uma tupla
tupla_modificada = tuple(lista)

# Mostra na tela a lista e a tupla modificada
print("Lista modificada:", lista)
print("Tupla modificada:", tupla_modificada)

Digite os elementos da tupla separados por espaço: 1 2 3 6
Digite o elemento a ser adicionado à lista: 20
Lista modificada: ['1', '2', '3', '6', '20']
Tupla modificada: ('1', '2', '3', '6', '20')

In [11]:

lista = ['banana', 'laranja', 'maçã', 'morango', 'graviola']

# Busca o elemento na posição 3 (índice 2)
fruta_posicao_3 = lista[2]

print("A fruta na posição 3 é:", fruta_posicao_3)

A fruta na posição 3 é: maçã